body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: lightblue;
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  list-style: none;
}

.main-header {
	height: 545px;
	background-color: #eeeeee;
}

.container {
	width: 1440px;
	margin: 0 auto;
	background-color: #fff;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	background-color: #eee;
	position: relative;
	padding: 50px 140px 20px 140px;
}

.nerds-logo {
	display: block;
	margin-right: 200px;
	margin-right: 162px;
}

.main-menu-navigation {
	font-size: 16px;
	display: flex;
	justify-content: space-around;
	list-style: none;
	color: #fff;
	text-transform: uppercase;
	margin-top: 30px;
}

.nav-link {
	text-decoration: none;
}

.cart-icon {
	margin-right: 21px;
}

.main-menu-basket {
	list-style: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 31px;
	margin-left: 67px;
}

.menu-item-basket {
	margin-left: 140px;

}

.nav-link-one,
.nav-link-two {
	margin-right: 47px;
}

.nav-link-three {
	margin-right: 45px;
}

.slider {
	margin-left: 39px;
	height: 170px;
	padding-top: 10.5px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1200px;
}

.partners {
	display: flex;
	flex-wrap: wrap;
	padding-top: 32px;
	list-style: none;
	padding-left: 51px;
	opacity: 0.2;
	padding-bottom: 26px;
}

.col-partners-image {
	flex: 0 0 25%;
	max-width: 15%;
	margin-right: 120px;
}

.col-partners-image:first-child {
	margin-top: 16px;
	margin-right: 123px;
}

.col-partners-image:nth-child(2) {
	margin-right: 140px;
}

.col-partners-image:nth-child(3) {
	margin-top: 19px;
	margin-right: 132px;
}

.col-partners-image:nth-child(4) {
	margin-top: 6px;
	margin-right: 0;
}

.col-slider-one {
	flex: 0 0 40%;
	max-width: 40%;
}

.col-slider-two {
	flex: 0 0 60%;
	max-width: 60%;
	margin-top: -15px;
	margin-left: -48px;
	z-index: 1;
}

.headline-first {
	font-weight: 500;
	line-height: 55px;
	font-size: 55px;
	margin-bottom: 26px;
}

.kind {
	font-size: 16px;
	margin-bottom: 55px;
	line-height: 24px;
}

.link-know-more {
	border: 0px solid #fff;
	background-color: #fb565a;
	padding: 16px 54px 15px 54px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.col-offers {
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 80px 40px 81px 140px;
	box-sizing: border-box;
}

.company-offers {
	width: 300px;
	height: 345px;
	margin-right: 100px;
}

.header-h3 {
	margin-bottom: 16px;
	margin-top: 21px;
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.paragraph {
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 90%;
	margin-bottom: 49px;
}

.link-know-more-red {
	border: 0px solid #fff;
	background-color: #fb565a;
	padding: 16px 40px 15px 40px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.link-know-green {
	border: 0px solid #fff;
	background-color: #05cb77;
	padding: 16px 40px 15px 40px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.link-know-yelow {
	border: 0px solid #fff;
	background-color: #efc84a;
	padding: 16px 40px 15px 40px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.about-us {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 40px;
	margin-bottom: 6px;
}

.information {
	flex: 0 0 65%;
}

.garanties {
	flex: 0 0 35%;
	padding-left: 40px;
	padding-top: 2px;
}

.catalog {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 360px;
	padding-top: 13px;
	width: 93%;
}

.percent {
	color: #000000;
	font-family: Roboto;
	font-size: 45px;
	font-weight: 700;
	line-height: 10.06px;
	margin-bottom: 35px;
}

.sup {
	font-size: 59% !important;
}

.paragraph-little {
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.style-for-percent {

}

.set-paragraph {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	padding-top: 32px;
	padding-left: 17px;
}

.header-about-us {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Roboto;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	padding-top: 35px;
	padding-left: 19px;
}

.paragraph-about-us {
	margin: 0;
	padding: 0;
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 29px;
	padding-left: 20px;
	padding-right: 70px;
}

.catalog-style {
	position: relative;
	list-style: none;
	margin-bottom: 30px;
}

.partners-logo {
	fill: #000;
}

.marker-on-map {
}

.how-to-find {
	flex: 0 0 24.6%;
	max-width: 24.6%;
	height: 308px;
	width: 319px;
	background-color: white;
}

.write-us {
	width: 219px;
	height: 50px;
	background-color: #fb6165;
	border: none;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 22px;
}

.about-us-block {
	margin:0 auto;
	margin-top: 48px;
	margin-bottom: 6px;
	padding: 0 51px;
}

.main-footer {
}

.social-image {
	flex: 0 0 30%;
}

.ur-offer {
	flex: 0 0 70%;
}

.line-btw {
	width: 1160px;
	border-bottom: 2px solid lightgray;
	margin: 0 auto;
}

.line-sponsor {
	width: 1160px;
	border-bottom: 2px solid lightgray;
	margin: 0 auto;
	margin-bottom: 80px;
}

.dash {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 34px;
}

.get-offers {
	color: #000000;
	font-family: 'Roboto';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	padding: 0;
	margin: 0;
	margin-top: 42px;
	margin-left: 22px;;
}

.variant-develope {
	color: #000000;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	margin-left: 16px;
	margin-top: 29px;
}

circle[class^='circle-bottom'] {
	fill: #e1e1e1;
}

.offer-friend {
	color: #000000;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	margin: 0;
	padding: 0;
	margin-top: 18px;
	margin-left: 18px;
}

.discount {
	color: #444444;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	margin-top: 10px;
	margin-left: 18px;
}

.image-insta {
	position: absolute;
	left: 422px;
	top: 2357px;
}

.image-vk {
	position: absolute;
	left: 237px;
	top: 2361px;
}

.image-fb {
	position: absolute;
	left: 336px;
	top: 2357px;
}

svg[class^='image-'] {
	fill: #ffffff;
}

.nerds-text {
	color: #000000;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.our-adress,
.our-phone {
	color: #666666;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.our-adress {
	margin-top: 23px;
	margin-bottom: 18px;
}

.catalog-style-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 260px;
	list-style: none;
	margin-left: 12px;
	margin-top: 12px;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	border-radius: 50%;
	list-style: none;
}

.row-map {
	display: flex;
	flex-wrap: wrap;
	height: 164px;
	padding-top: 56px;
	padding-left: 129px;
}

.catalog-style::before{
	background-image: url(../img/line.svg);
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 8px;
	left: -35px;
	width: 50px;
	height: 10px;
}

.container-map {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	box-sizing: border-box;
	min-height: 416px;
	padding-top: 54px;
	padding-left: 140px;
}

.image-container {
	flex: 0 0 45.5%;
	max-width: 45.5%;
	text-align: right;
	margin-top: 35px;
}