body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: lightblue;
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  list-style: none;
}

.main-conteiner {
	margin-bottom: 36px;
}

.main-header {
	min-height: 546px;
	background-color: #eeeeee;
}

.main-header-catalog {
	height: 356px;
	background-color: #eeeeee;
	margin-bottom: 55px;
}

.container {
	width: 1440px;
	margin: 0 auto;
	background-color: #fff;
}

.container-for-slider {
	width: 1200px;
  padding: 0 20px;
	box-sizing: border-box;
	margin-left: 82px;
	margin-left: 120.4px;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	background-color: #eee;
	position: relative;
	padding: 50px 140px 0px 140px;
}

.nerds-logo {
	display: block;
	margin-right: 200px;
	margin-right: 162px;
}

.main-menu-navigation {
	font-size: 16px;
	display: flex;
	justify-content: space-around;
	list-style: none;
	color: #fff;
	text-transform: uppercase;
	margin-top: 30px;
}

.nav-link {
	text-decoration: none;
}

.cart-icon {
	margin-right: 21px;
}

.main-menu-basket {
	list-style: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 31px;
	margin-left: 67px;
}

.menu-item-basket {
	margin-left: 140px;

}

.nav-link-one,
.nav-link-two {
	margin-right: 47px;
}

.nav-link-three {
	margin-right: 45px;
}

.slider {
	height: 430px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1200px;
}

.row-slider {
	display: flex;
	flex-wrap: wrap;
}

.partners {
	display: flex;
	flex-wrap: wrap;
	padding-top: 32px;
	list-style: none;
	padding-left: 51px;
	opacity: 0.2;
	padding-bottom: 26px;
}

.col-partners-image {
	flex: 0 0 25%;
	max-width: 15%;
	margin-right: 120px;
}

.col-partners-image:first-child {
	margin-top: 16px;
	margin-right: 123px;
}

.col-partners-image:nth-child(2) {
	margin-right: 140px;
}

.col-partners-image:nth-child(3) {
	margin-top: 19px;
	margin-right: 132px;
}

.col-partners-image:nth-child(4) {
	margin-top: 6px;
	margin-right: 0;
}

.col-slider-one {
	flex: 0 0 40%;
	max-width: 40%;
	padding-top: 9px;
}

.col-slider-two {
	flex: 0 0 60%;
	max-width: 60%;
	margin-top: -5px;
	margin-left: -101px;
	z-index: 1;
}

.headline-first {
	font-weight: 500;
	line-height: 55px;
	font-size: 55px;
	margin-bottom: 26px;
}

.kind {
	font-size: 16px;
	margin-bottom: 55px;
	line-height: 24px;
}

.link-know-more {
	border: 0px solid #fff;
	background-color: #fb565a;
	padding: 16px 54px 15px 54px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.col-offers {
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 80px 40px 81px 140px;
	box-sizing: border-box;
}

.company-offers {
	width: 300px;
	height: 345px;
	margin-right: 100px;
}

.header-h3 {
	margin-bottom: 16px;
	margin-top: 21px;
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.paragraph {
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 90%;
	margin-bottom: 49px;
}

.link-know-more-red {
	border: 0px solid #fff;
	background-color: #fb565a;
	padding: 16px 40px 15px 40px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.link-know-green {
	border: 0px solid #fff;
	background-color: #05cb77;
	padding: 16px 40px 15px 40px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.link-know-yelow {
	border: 0px solid #fff;
	background-color: #efc84a;
	padding: 16px 40px 15px 40px;
	border-radius: 4px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}

.about-us {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 40px;
	margin-bottom: 6px;
}

.information {
	flex: 0 0 65%;
}

.garanties {
	flex: 0 0 35%;
	padding-left: 40px;
	padding-top: 2px;
}

.catalog {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 360px;
	padding-top: 13px;
	width: 93%;
}

.percent {
	color: #000000;
	font-family: Roboto;
	font-size: 45px;
	font-weight: 700;
	line-height: 10.06px;
	margin-bottom: 35px;
}

.sup {
	font-size: 59% !important;
}

.paragraph-little {
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.style-for-percent {

}

.set-paragraph {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	padding-top: 32px;
	padding-left: 17px;
}

.header-about-us {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Roboto;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	padding-top: 35px;
	padding-left: 19px;
}

.paragraph-about-us {
	margin: 0;
	padding: 0;
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 29px;
	padding-left: 20px;
	padding-right: 70px;
}

.catalog-style {
	position: relative;
	list-style: none;
	margin-bottom: 30px;
}

.partners-logo {
	fill: #000;
}

.marker-on-map {
}

.how-to-find {
	flex: 0 0 24.6%;
	max-width: 24.6%;
	height: 308px;
	width: 319px;
	background-color: white;
}

.write-us {
	width: 219px;
	height: 50px;
	background-color: #fb6165;
	border: none;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 22px;
}

.about-us-block {
	margin:0 auto;
	margin-top: 48px;
	margin-bottom: 6px;
	padding: 0 51px;
}

.main-footer {
}

.social-image {
	flex: 0 0 30%;
}

.ur-offer {
	flex: 0 0 70%;
}

.line-btw {
	width: 1160px;
	border-bottom: 2px solid lightgray;
	margin: 0 auto;
}

.line-sponsor {
	width: 1160px;
	border-bottom: 2px solid lightgray;
	margin: 0 auto;
	margin-bottom: 80px;
}

.dash {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 34px;
}

.get-offers {
	color: #000000;
	font-family: 'Roboto';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	padding: 0;
	margin: 0;
	margin-top: 42px;
	margin-left: 22px;;
}

.variant-develope {
	color: #000000;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	margin-left: 16px;
	margin-top: 29px;
}

circle[class^='circle-bottom'] {
	fill: #e1e1e1;
}

.offer-friend {
	color: #000000;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	margin: 0;
	padding: 0;
	margin-top: 18px;
	margin-left: 18px;
}

.discount {
	color: #444444;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	margin-top: 10px;
	margin-left: 18px;
}

.image-insta {
	position: absolute;
	left: 422px;
	top: 2357px;
}

.image-vk {
	position: absolute;
	left: 237px;
	top: 2361px;
}

.image-fb {
	position: absolute;
	left: 336px;
	top: 2357px;
}

svg[class^='image-'] {
	fill: #ffffff;
}

.nerds-text {
	color: #000000;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.our-adress,
.our-phone {
	color: #666666;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.our-adress {
	margin-top: 23px;
	margin-bottom: 18px;
}

.catalog-style-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 260px;
	list-style: none;
	margin-left: 12px;
	margin-top: 12px;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	border-radius: 50%;
	list-style: none;
}

.row-map {
	display: flex;
	flex-wrap: wrap;
	height: 164px;
	padding-top: 56px;
	padding-left: 129px;
}

.catalog-style::before{
	background-image: url(../img/line.svg);
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 8px;
	left: -35px;
	width: 50px;
	height: 10px;
}

.container-map {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	box-sizing: border-box;
	min-height: 416px;
	padding-top: 54px;
	padding-left: 140px;
}

.image-container {
	flex: 0 0 45.5%;
	max-width: 45.5%;
	text-align: right;
	margin-top: 35px;
}

.how-we-work {
	color: #000000;
	font-family: Roboto;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
	margin-top: 56px;
	margin-left: -3px;
}

.filter-conteiner span {
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.sorts {
	display: flex;
	flex-wrap: wrap;
}

.costs {
	flex: 0 0 30%;
	max-width: 30%;
}

.to-sort {
	flex: 0 0 30%;
	max-width: 30%;
}

.crumps {
	flex: 0 0 30%;
	max-width: 30%;
}

.sort-for-costs li {
	display: inline-block;
	list-style: none;
}

.col-3 {
	flex: 0 0 10%;
	max-width: 10%;
}

.controler-position {
	list-style: none;
	display: inline-block;
}

.style-input {
	width: 80px;
	height: 21px;
	background-color: #eeeeee;
	border: none;
}

.filter-find-row {
	flex: 0 0 30%;
	max-width: 30%;
}

.ready-templ {
	list-style: none;
}

.col-2 {
	display: flex;
	flex-wrap: wrap;
}

.price-controls {
	font-size: 0;
}

.price-controls label{
	font-size: 18px;
	text-transform: uppercase;
}

.main-part {
	flex: 0 0 75%;
	max-width: 75%;
}

.ready-templ{
  display: flex;
  flex-wrap: wrap;
}

.range-filter {
  width: 260px;
  margin-top: 43px;
}

.range-controls {
	position: relative;
  height: 41px;
  background-color: #f1f1f1;
	border-radius: 5px;
	margin-bottom: 12px;
	padding-top: 41px;
	padding-right: 21px;
	padding-left: 21px;
}

.range-controls .scale {
  height: 1px;
  background: #d7dcde;
}

.range-controls .bar {
	width: 63%;
	height: 1px;
	background: #00ca74;
	margin-left: 10px;
}

.range-controls .toggle {
	position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
}

.price-controls input {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;
	width: 60px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
	margin-left: 6px;
}

.max-price {
  text-align: right;
}

.ready-templ-one {
	display: flex;
	flex-wrap: wrap;
}

.column-li {
	list-style: none;
}

.filter-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
	padding: 0;
	margin-bottom: 19px;
	margin-left: -4px;
}

.filter-checkbox {
  position: relative;
  padding: 1.2px 0 0 41px;
	cursor: pointer;
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

input+.checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 6px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
}

input+.checkbox-square {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

input:checked+.checkbox-square {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 23px;
  height: 23px;
  background-image: none;
}

input:checked+.checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 6px;
  width: 25px;
  height: 25px;
  background-image: none;
}

input:checked+.checkbox-indicator::before,
input:checked+.checkbox-indicator::after {
  content: url(../img/radio-on.svg);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: none;
}

input:checked+.checkbox-square::before,
input:checked+.checkbox-square::after {
  content: url(../img/checkbox-on.svg);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 27px;
  height: 23px;
  background: none;
}

input:disabled+.checkbox-indicator {
  opacity: 0.5;
}

input:disabled+.checkbox-square {
  opacity: 0.5;
}

[type="checkbox"]:focus+.checkbox-indicator {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px #4D90FE;
  box-shadow: 0px 0px 5px #4D90FE;
  border-radius: 40px;
}

[type="checkbox"]:focus+.checkbox-square {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px #4D90FE;
  box-shadow: 0px 0px 5px #4D90FE;
}

.filter-find-row {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
	border: none;
}

.show-variants {
	width: 259px;
	height: 50px;
	background-color: #eee;
	border: none;
	margin-top: 4px;
	margin-left: 14px;
	border-radius: 3px;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}

.word-button {
	width: 83px;
	height: 13px;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

.col-12{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.left-section {
	flex: 0 0 25%;
	max-width: 25%;
	margin-left: 7px;
}

.right-section {
	flex: 0 0 67%;
	max-width: 67%;
	margin-left: 72px;
}

.sorting {
	display: flex;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 4px;
}

.editing-liststyle {
	list-style: none;
	margin: 0;
	padding: 0;
}

.controller-position {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.down-button {
  margin-left: 8px;
  transform: rotate(180deg);
}

.list-for-sorting {
	display: inline-block;
}

.liststyle-for-templates {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.our-templates-li {
	position: relative;
	margin-bottom: 29px;
}

.our-templates-li:nth-child(2n+1) {
	margin-right: 40px;
}

.our-templates-li::before {
  content: "";
  display: block;
  padding-left: 13px;
  height: 40px;
  color: #ffffff;
  background-image: url("../img/browser.svg");
  opacity: 0.2;
}

.info-about-temp {
	display: none;
  position: absolute;
  left: 0px;
  top: 386px;
  width: 100%;
  padding: 26px 0px 24px;
  background-color: #eeeeee;
	text-align: center;
}

.our-templates-li:hover .info-about-temp {
	display: block;
}

.name-temp {
	color: #000000;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about-temp {
	max-width: 200px;
	color: #666666;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	margin: 0 auto;
	margin-bottom: 29px;
}

.link-for-buy {
	width: 200px;
	background-color: #fb565a;
	border-radius: 2px;
	display: inline-block;
	padding: 17px 0px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}

.number-page li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.link-firstpage {
	display: block;
	width: 46px;
	background-color: white;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	border: 3px solid lightgray;
	text-align: center;
	padding: 13.9px 0px;
	border-radius: 4px;

}

.link-nextpage {
	display: block;
	width: 48px;
	background-color: #eeeeee;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	border: 0px solid lightgray;
	text-align: center;
	padding: 16px 2px;
	border-radius: 4px;
}

.nextpage {
	display: block;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #eeeeee;
	border: 0px solid lightgray;
	border-radius: 4px;
	padding: 16px 78px;
}

.for-cost,
.sorting-word {
	color: #000000;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.05px;
}

.sorting-for-cost {
	color: #000000;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;	
}

.sorting-for-type,
.sorting-for-name {
	opacity: 0.3;
	color: #000000;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.up-button {
	fill: #a6a6a6;
}

.sorting-list {
	min-width: 360px;
	display: flex;
	align-items: center;
}

.list-for-sorting:nth-child(1) {
	margin-right: 23px;
}

.list-for-sorting:nth-child(2) {
	margin-right: 22.4px;
}

.list-for-sorting:nth-child(3) {
	margin-right: 37px;
}

.list-for-sorting:nth-child(4) {
	margin-right: 14px;
}

.our-templates {
	padding-top: 49px;
	padding-left: 41px;
	margin-bottom: 28.1px;
}

.filter-item {
	margin-bottom: 46px;
}

.variant-find-two {
	margin: 0;
	padding: 0;
}

.indent {
	margin-bottom: 9.5px;
}

.grid {
	margin-bottom: 16.6px;
}

.slider-item {
	display: none;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider {
	position: relative;
	height: 385px;
}

.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-item h3 {
	color: #000000;
	font-family: Roboto;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	max-width: 600px;
  margin: 0;
	margin-bottom: 27px;
	padding-top: 77px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
	margin-bottom: 38px;
	color: #283136;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.button-slider {
	display: block;
  width: 240px;
  padding: 18px 0 14px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider input[type=radio] {
	display: none;
}

.slider-inner {
	position: relative;
	overflow: hidden;
	padding-top: 22px;
}

.slider-slides {
	width: 300%;
	transition: transform 1s ease;
}

.slider-container {
	float: left;
	height: 413px;
}

.slider-controls {
	position: absolute;
	top: 315px;
	left: 669px;
	z-index: 100;
}

.slider-controls label {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 7px;
	background-color: #cccccc;
	border: 4px solid white;
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
	transition: background-color 0.2s;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background-color: #666666;
}

#btn-1:checked ~ .slider-inner .slider-slides {
	transform: translate(140px);
}

#btn-2:checked ~ .slider-inner .slider-slides {
	transform: translate(-1192px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
	transform: translate(-2523px);
}